#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.lsd {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../static/images.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 100px auto;
}